* {
    box-sizing: border-box;
}

html {
    margin:0;
}

body {
    margin: 0;
}

.map-wrapper {
    height: 1000px;
    width: 100%;
    position: relative;
}

.map {
    height: 100%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.banner-wrapper  a {
    display: table-cell;
    vertical-align: middle;
    
}

.bannerstart {
    width:100%;
    height: auto;
    text-align: center;
}

.banner-wrapper {
    height: 50vh;
    width: 100%;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
}

.banner {
    max-height:40vh;
    min-width: 80%;
    max-width: 100%;
}


.colie {
    background: rgb(75,67,221);
    background: linear-gradient(90deg, rgba(75,67,221,1) 0%, rgba(141,177,117,1) 0%, rgba(13,255,84,1) 100%);
}

.colieicon {
    position: absolute;
    bottom:70%;
    left: 56%; 
}

.nella {
    background: rgb(75,67,221);
    background: linear-gradient(90deg, rgba(75,67,221,1) 0%, rgba(177,117,146,1) 0%, rgba(246,168,204,1) 0%, rgba(255,84,143,1) 100%);
}

.nellaicon {
    position: absolute;
    bottom:20%;
    left: 67%; 
}

.vibria {
    background: rgb(75,67,221);
    background: linear-gradient(90deg, rgba(75,67,221,1) 0%, rgba(65,65,203,1) 0%, rgba(0,212,255,1) 100%);
}

.vibriaicon {
    position: absolute;
    bottom:18%;
    left: 18%; 
}

.listerio {
    background: rgb(75,67,221);
    background: linear-gradient(90deg, rgba(75,67,221,1) 0%, rgba(177,117,146,1) 0%, rgba(245,237,194,1) 0%, rgba(191,196,55,1) 100%);

}

.listerioicon {
    position: absolute;
    bottom:60%;
    left: 23%; 
}

.icon {
    transition: transform 0.2s;
    height: 12vmin;
    width: 12vmin;

}

.icon:hover{
    transform: translate(0,-20%);
    cursor: pointer;
}


.map-wrapper a {
    text-decoration: none;
}

/* header */
.header-wrapper {
    text-align: center;
    width: 100%;
    background-color: rgb(48, 47, 47);
    padding: 15px;
    border-bottom: 2px solid black;
    display: table;
    height: 150px;
}

.header {
    display: table;
    text-align: center;
    height: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header a {
    text-decoration: none;
    color: black;
    
}

.uc {
    width:50%;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
}


.uc img{
    min-height: 10vw;
    max-width: 100%
}


/**/
.mainbody {
    background-color: rgb(148, 142, 142);
}
